@model IEnumerable<SantaMesa.Models.Productos>
@{
    Layout = "LayoutVendedor.cshtml";
}


<h2>Catalogo</h2>

<p>
    <a href="https://localhost:44355/Vendedor/Create" class=" btn btn-primary">Crear un nuevo elemento</a>
</p>
<table class="table-responsive table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre_producto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idioma)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.edad_player)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imagen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="col-md-1">
                @Html.DisplayFor(modelItem => item.nombre_producto)
            </td>
            <td class="col-md-1">
                @Html.DisplayFor(modelItem => item.idioma)
            </td>
            <td class="col-md-1">
                @Html.DisplayFor(modelItem => item.edad_player)
            </td>
            <td class="col-md-2">
                @*@Html.DisplayFor(modelItem => item.descripcion)*@
                @{
                    string text = item.descripcion;
                    text = text.Substring(0, 100);
                    @text;  
                }
            </td>
            <td class="col-md-2">
                @Html.DisplayFor(modelItem => item.imagen)
            </td>
            <td class="col-md-1">
                @Html.DisplayFor(modelItem => item.estado)
            </td>
            <td class="col-md-4">
                <a href="https://localhost:44355/Vendedor/Edit/@(item.id_Producto)" class="btn btn-success">Editar</a>
                <a href="https://localhost:44355/Vendedor/Details/@(item.id_Producto)" class="btn btn-info">Detalles</a>
                <a href="https://localhost:44355/Vendedor/Delete/@(item.id_Producto)" class="btn btn-danger">Eliminar</a>
                
            </td>
        </tr>
    }

</table>
