@model SantaMesa.Models.Clientes

@{
    ViewBag.Title = "Cuenta";
}

<style>

    .menuCuenta {
        display:flex;
    }
    .menuCuenta p {
        margin-right:2rem;
        cursor: pointer;
    }
    .content{
        margin-top:2rem;
    }
    [data-content] {
        display:none;
    }
    .active[data-content] {
        display:block;
    }
    .box {
        display:flex;
    }
    .sub_box > div {
        font-size:15px;
        margin:2rem;

    }
    input[type=text] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    input[type=submit] {
        width: 100%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        margin-left: 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    .menuCuenta > p {
        font-size:20px;
        margin-left:10px;
        margin-right:10px;
        padding:10px;
        font-style:normal;
        border-radius:10px;
    }
</style>



<h2>Mi cuenta</h2>

<div class="menuCuenta">
    <p data-target="#igeneral">Información general</p>
    <p data-target="#wishlist">Whishlist</p>
    <p data-target="#security">Contraseña y seguridad</p>
</div>

<div class="content">
    <div data-content id="igeneral" class="active">
        <div>
            <form class="form-group" action="ActualizarDatos" method="post">
                <div class="box">
                    <div class="sub_box">
                        @Html.HiddenFor(model => model.id_Cliente)
                        <div>
                            <label for="name">Nombres</label><br />
                            @Html.EditorFor(model => model.nombres)
                        </div>
                        <div>
                            <label for="telefono">Telefono</label><br />
                            @Html.EditorFor(model => model.telefono)
                        </div>
                        <div>
                            <label for="email">Email</label><br />
                            @Html.EditorFor(model => model.email)
                        </div>
                    </div>
                    <div class="sub_box">
                        <div>
                            <label for="text">Dirección</label><br />
                            @Html.EditorFor(model => model.direccion)
                        </div>
                        <div>
                            <label for="dni">DNI</label><br />
                            @Html.EditorFor(model => model.dni)
                        </div>
                        <div>
                            <label for="ciudad">Ciudad</label><br />
                            @Html.EditorFor(model => model.ciudad)
                        </div>
                    </div>
                    @Html.HiddenFor(model => model.clave)
                    @Html.HiddenFor(model => model.estado)
                </div>
               
                <input type="submit" name="update" value="Actualizar"/>

            </form>
            
        </div>
    </div>  
    <div data-content id="wishlist">
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="https://diadejuegos.com/8046-large_default/dobble.jpg" alt="...">
                <div class="caption">
                    <h3>VIRUS</h3>
                    <div class="row">
                        <div class="col-md-8">
                            <p>S/.60</p>
                        </div>
                        <div class="col-md-4">
                            <span class="glyphicon glyphicon-share-alt"></span>
                            <span class="glyphicon glyphicon-heart"></span>
                        </div>
                    </div>

                    <a href="https://localhost:44355/Home/ProductoDetalle/17" class="btn btn-primary btn-santamesa" role="button">Ver mas</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="https://diadejuegos.com/7547-large_default/la-tripulacion.jpg" alt="...">
                <div class="caption">
                    <h3>
                        LA TRIPULACION
                    </h3>
                    <div class="row">
                        <div class="col-md-8">
                            <p>70</p>
                        </div>
                        <div class="col-md-4">
                            <span class="glyphicon glyphicon-share-alt"></span>
                            <span class="glyphicon glyphicon-heart"></span>
                        </div>
                    </div>

                    <a href="https://localhost:44355/Home/ProductoDetalle/18" class="btn btn-primary btn-santamesa" role="button">Ver mas</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="https://diadejuegos.com/8029-large_default/fantasma-blitz.jpg" alt="...">
                <div class="caption">
                    <h3>
                        FANTASMA BLITZ
                    </h3>
                    <div class="row">
                        <div class="col-md-8">
                            <p>70</p>
                        </div>
                        <div class="col-md-4">
                            <span class="glyphicon glyphicon-share-alt"></span>
                            <span class="glyphicon glyphicon-heart"></span>
                        </div>
                    </div>

                    <a href="https://localhost:44355/Home/ProductoDetalle/19" class="btn btn-primary btn-santamesa" role="button">Ver mas</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="https://diadejuegos.com/380-large_default/sushi-go.jpg" alt="...">
                <div class="caption">
                    <h3>SUSHI GO</h3>
                    <div class="row">
                        <div class="col-md-8">
                            <p>
                                60
                            </p>
                        </div>
                        <div class="col-md-4">
                            <span class="glyphicon glyphicon-share-alt"></span>
                            <span class="glyphicon glyphicon-heart"></span>
                        </div>
                    </div>

                    <a href="https://localhost:44355/Home/ProductoDetalle/20" class="btn btn-primary btn-santamesa" role="button">Ver mas</a>
                </div>
            </div>
        </div>
    </div>
    <div data-content id="security">

        <form action="ChangePassword" method="post">

            @Html.HiddenFor(model => model.id_Cliente)
            <div>
                <label for="clave">Contraseña antigua</label><br />
                <input type="text" name="clave" value="" />
            </div>
            <div>
                <label for="newpass">Clave nueva</label><br />
                <input type="text" name="newpass" value="" />
            </div>
            <div>
                <label for="newpasscheck">Repetir contraseña nueva</label><br />
                <input type="text" name="newpasscheck" value="" />
            </div>
            <div>
                <input class="btn-success" type="submit" value="Cambiar contraseña" />
            </div>

        </form>
    </div>

</div>


<script defer>
    const targets = document.querySelectorAll('[data-target]')
    const content = document.querySelectorAll('[data-content]')
    targets.forEach(target => {

        target.addEventListener('click', () => {

            content.forEach(c => {
                c.classList.remove('active')
            })
            const t = document.querySelector(target.dataset.target)
            t.classList.add('active')
        });
    })
</script>